.container-address {
  font-family: 'roboto';
  background-color: #bcdae3;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-address {
  font-size: 26px;
  text-align: center;
  color: #ffffff;
  color: #1509ed;
}
.address-name {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.text-box-name {
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: 'roboto';
}
.text-box {
  width: 250px;
  height: 30px;
  border: none;
  border-radius: 2px;
  color: #323f4b;
  font-size: 18px;
  font-weight: 'roboto';
  outline: none;
}
.label-name {
  font-size: 20px;
  color: #f4f7df;
  margin-right: 10px;
  font-family: 'roboto';
  font-weight: 500;
  width: 100px;
}
.container-box {
  height: 500px;
  width: 500px;
  padding: 10px;
  background-color: #03befc;
  border-radius: 10px;
  box-shadow: 0px 4px 6px 4px #0978ed;
}
.button-submit-order {
  width: 200px;
  height: 40px;
  padding: 5px;
  text-align: center;
  border: none;
  background-color: #f089f0;
  color: #ffffff;
  font-size: 20px;
  font-family: 'roboto';
  border-radius: 10px;
  font-weight: 700;
}
.button-container-1 {
  margin-top: 15px;
  text-align: center;
}
.delivery-container-carted {
  font-family: 'roboto';
  background-color: #faf9e1;
  padding: 10px;
  border-radius: 5px;
}
.heading-delivery-carted {
  color: #111314;
  font-size: 22px;
}
.customer-name {
  color: #404345;
  font-size: 18px;
  font-weight: 600;
}
.button-confirm {
  width: 150px;
  height: 40px;
  padding: 5px;
  text-align: center;
  border: none;
  font-family: 'roboto';
  border-radius: 10px;
  font-weight: 700;
  color: #ffffff;
  background-color: #d1c12c;
  margin-right: 10px;
}
.submit-cart-boxer {
  display: flex;
}

.container-order-now-placed {
  background-color: #f0e8df;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'roboto';
  height: 100vh;
}

.registered-image {
  width: 150px;
  height: 100px;
}
.heading-order-customer {
  text-align: center;
  font-size: 22px;
  color: #475569;
}
.order-customer-description {
  font-size: 22px;
  color: #3a4b63;
  text-align: center;
}
.cutomer-button {
  text-align: center;
}
.button-order-customer {
  width: 100px;
  height: 30px;
  padding: 5px;
  text-align: center;
  border: none;
  font-family: 'roboto';
  border-radius: 10px;
  font-weight: 700;
  color: #ffffff;
  background-color: #7242f5;
}
@media screen and (max-width: 600px) {
  .container-box {
    width: 350px;
  }
}
